@import '../../index.scss';

.login-page-container {
  background-color: $thrtec-white;
  display: flex;
  align-items: center;
  height: 100%;

  .login-image-container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/elogio.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media('<mobile') {
      display: none;
    }

    @include media('<tablet', '>=mobile') {
      width: 50%;
    }
  }

  .login-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 20px 50px;

    @include media('<=xl-mobile') {
      width: 100vw;
      padding: 20px 5px;
    }

    @include media('<tablet', '>=xl-mobile') {
      width: 100%;
    }

    @include media('<xl-desktop', '>=tablet') {
      width: 80%;
    }

    .login-section-title {
      text-align: center;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
      color: $thrtec-blue;
      @include media('<=xl-mobile') {
        font-size: 22px;
      }
    }

    .MuiTextField-root {
      width: 80%;
      margin-top: 5px;
    }

    .terms-checkbox-container {
      margin-top: 10px;
      width: 80%;

      > .required-register-field {
        color: red;
        &-hidden {
          visibility: hidden;
        }
      }

      .MuiFormControlLabel-root {
        color: $thrtec-dark-gray;

        .Mui-checked {
          .MuiIconButton-label {
            color: $thrtec-blue;
          }
        }

        .MuiTypography-root {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
        }
      }
    }

    .login-section-buttons-container {
      display: flex;
      width: 75%;
      align-items: center;
      justify-content: space-between;
      margin-top: 25px;

      @include media('<=tablet') {
        width: 80%;
      }

      .MuiButton-outlinedPrimary,
      .MuiButton-textPrimary {
        color: $thrtec-blue;
        border-color: $thrtec-blue;
      }
    }

    .login-section-info {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: $thrtec-gray;
      margin-top: 40px;
    }
  }
}
